
/* Top navigation bar */

.navbar-container {
    font-size: 1.25em;
}

.nav-link {
  color: #1B365D;
}

.navbar {
    border-bottom: 1px solid #00ABC8;
}

.navbar-logo {
  max-height: 40px;
}


/* Headers */

h1, .h1 {
    border-bottom: none;
    color: #1B365D;
    /* font: this should be a times-new-roman-style font according to brand guidance but that's ugly*/;
}

h2, .h2 {
    color: #0A799A;
    font: Arial;
}

h3, .h3 {
    color: #0A799A;
    font: Arial;
    border-bottom: none;
}

h4, .h4 {
    color: #0A799A;
    font: Arial;
    border-bottom: none;
}

h5, .h5 {
    color: #0A799A;
    font: Arial;
    border-bottom: none;
}

a:link {
  color: #0A799A;
}

a:hover, a:active {
  color: #00ABC8;
}
