/* css styles */


.navbar-container {
    font-size: 1.25em;
}
  
.navbar {
    border-bottom: 1px solid #00C1D5;
}
  
.menu-text img {
    max-height: 40px;
}
  
.hero {
    background-color: #1B365D;
    color: #F4F4F4;
    padding-top: 3em;
    padding-bottom: 3em;
}
  
.hero p {
    font-size: 1.4em;
}
  
.hero h1 {
    font-size: 2.5em;
}
  
h2, .h2 {
    border-bottom: none;
}

.nav-link {
    /* text-align: center; */
    padding-bottom: 0px;
}

.nav-link.active {
    /* text-align: center; */
    padding-bottom: auto;
}
